<header>
    <div class="envios">
        <h4>Envios gratis a partir de los $10.000 | + 6 cuotas sin interés </h4>
        </div>
        
    <section class="top-header"> 
        <div class="main-header-top-elemento1">
            <a href="/"><img src="../../images/logo3.jpg" alt="Logo de Callwatch" class="logo"></a></div>
            

        <div class="main-header-top-elemento2">

                <nav class="main-nav-bar">
                    <ul class="navbar">
                        
                        <li><a href="/products">Relojes</a></li>
                        <li><a href="/construir">Joyas</a></li>
                        <li><a href="/construir">Tech</a></li>
                        <li><a href="/products/create">Vendé</a></li>
                        
                        
                    </ul>
                    
                </nav>
                
            <!--   <div class="search-bar"><i class="fa fa-search"></i>
                <input type="search" name="search-bar" id="search-bar" class="texto-search" 
                placeholder="¿Qué estas buscando?">
                </div>
                </form> --> 
        </div>
        

        <div class="icons">
            <div class="icon">
            
                <div class="container">
                <input type="text" placeholder="Buscar">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            </div>
            <% if(locals.isLogged == false){ %> 
            <div class="icon">
                
                <li><a href="/users/login"><i class="fas fa-user-circle"></i></a></li>
                
            </div>
            <% }else{ %>
                <div class="icon">
                <li><a href="/users/login">
                    <img src="/images/<%= locals.userInfo.imagen %>" alt="" width="25" height="25" style="border-radius: 100%;margin-top: 7px;">                </a></li>
            </div>

            <% } %> 
            
            <div class="icon">
                
                <li><a href="/products/carrito/1"><i class="fas fa-shopping-bag"></i></a></li>
                
            </div>
            
            
           
        </div>
        
    </section>
    
    </header>