<header>
    <section class="top-header"> 
        <div class="main-header-top-elemento1">
            <a href="/"><img src="../images/logo3.jpg" alt="Logo de Callwatch" class="logo"></a></div>
            

        <div class="main-header-top-elemento2">
                <form class="search-bar" action="#" method="get">
                
                <label for="search-bar"></label>
                
                <div class="search-bar"><i class="fa fa-search"></i>
                <input type="search" name="search-bar" id="search-bar" class="texto-search" 
                placeholder="¿Qué estas buscando?">
                </div>
                </form> 
        </div>
        

        <div class="icons">
            <div class="icon">
                
                <li><a href="/"><i class="fas fa-home"></i></a></li>
                
            </div>
            <div class="icon">
                
                <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                
            </div>
            <div class="icon">
                
                <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                
            </div>
            
            
           
        </div>
        
    </section>
    <nav class="main-nav-bar">
        <ul class="navbar">
            <li><a href="#">Relojes</a></li>
            <li><a href="#">Joyas</a></li>
            <li><a href="#">Tech</a></li>
            <li><a href="#">Eyewear</a></li>
            
            
        </ul>
        
    </nav>
    </header>