<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    <title>Callwatch</title>
</head>
<body>
    <header>
    <!-- este es el div del logo -->
    <div class="main-header-top-elemento1">
        <img src="images/logo.jpg" alt="Logo de Callwatch" class="logo-register"></div>

    <!-- este es el div de la barra del navegador -->
    <div class="navbar">
        <ul>
                <li class="home">home</li>
                    
                <li class="buscar">buscar</li>

                <li class="perfil">perfil</li>

                <li class="carrito">carrito</li>
        </ul>
    </div>
</header>
    <!-- esste es el buscador -->
        <form action='/' method="get" class="formulario"> 
            <div class="control-formulario">
                <label for="buscar"></label>
                <input type="text" name="searchbar" id="searchbar" class="control" placeholder="buscar" >
            </div>
        </form>
    <body>

    <!--es es el div de las imagenes  -->
    <div class="imagenes">
        <img src="/public/images/reloj1.jpg">
    </div>

    <!-- este es el div de las decripciones -->
    <div class="descripcion" ></div>
</body>
<footer>
    <!-- este es el div de el footer -->
    <div class="footer"></div>

    <!-- este es el div del mapa -->
    <div class="mapa"></div>
</footer>
</body>
</html>