<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
<%- include ('./partials/header.ejs') %> 
    
    

    <!--es es el div de las imagenes  -->
    <div class="imagenes-banner">
        <img src="images/banner.jpg" alt="banner">
    </div>


    
    <div class="mas-vendidos"><h2>Los m치s vendidos</h2></div>
    <section class="galeria">
        
       
        
        <div class="lista-imagenes">
            
            <div class="card"> 
                <img src="images/Reloj-2.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Tommy M-905</h5>
                    <p>$30.905</p>
                

                </div>
            </div>
            <div class="card">
                <img src="images/Reloj-4.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Pioneer P-908</h5>
                    <p>$60.300</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-3.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Grandmaster</h5>
                    <p>$23.405</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-6.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Golden-Fetch Callwatch P-345</h5>
                    <p>$27.795</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-7.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Catmar Callwatch Y-905</h5>
                    <p>$29.350</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-8.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5> Reloj Silver-lining Callwatch T-5905</h5>
                    <p>$45.000</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-9.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Pe침a Callwatch T-786</h5>
                    <p>$25.905</p>

                </div>
            </div>
            
            
            
        </div>
        

    </section>
    <!-- este es el div de las decripciones -->
    <div class="imagenes-banner-2" >
        <h2>Globemaster Callwatch Annual Calendar
        </h2>
        <p>Conozca los tres nuevos modelos de esta colecci칩n de estilo cl치sico, 
            fabricados en diversos materiales y con esferas en color verde, burdeos y oro</p>
            <button class="agregar-carrito" type="submit">Descubrir nuevos Relojes</button>
</div>
<%- include ('./partials/footer.ejs') %> 
</body>

</body>
</html>