<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
<%- include ('./partials/header.ejs') %> 
    
    

    <!--es es el div de las imagenes  -->
    <div class="imagenes-banner">
        <img src="images/banner.jpg" alt="banner">
    </div>


    
    <div class="mas-vendidos"><h2>Los más vendidos</h2></div>
	<div class="products">
		<article class="producto">
			<img src="images/Reloj-2.jpg" alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3>Reloj Callwatch Tommy M-905</h3>
                    <p>$30.905</p>
			</div> 
				

		</article>
		<article class="producto">
			<img src="images/reloj-3.jpg" alt="imagen-principal"> 
			<div class="cuerpo-card">
                    <h3>Reloj Callwatch Grandmaster</h3>
                    <p>$23.405</p>

            </div>
		</article>
		<article class="producto">
			<img src="images/Reloj-4.jpg" alt="imagen-principal">
			
			<div class="cuerpo-card">
				<h3>Reloj Callwatch Pioneer P-908</h3>
				<p>$20.300</p>

			</div>
		</article>
		<article class="producto">
			<img src="images/reloj-6.jpg" alt="imagen-principal">
			<div class="cuerpo-card">
				<h3>Reloj Fetch Callwatch P-345</h3>
				<p>$27.795</p>

			</div>
		</article>
		
    
    </div>
    <!-- este es el div de la categoria inteligentes -->
	<div class="mas-vendidos"><h2>Linea smartWatch by Callwatch</h2></div>
	<div class="products">
		<article class="producto">
			<img src="images/Reloj-2.jpg" alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3>Reloj Callwatch Tommy M-905</h3>
                    <p>$30.905</p>
			</div> 
				

		</article>
		<article class="producto">
			<img src="images/reloj-3.jpg" alt="imagen-principal"> 
			<div class="cuerpo-card">
                    <h3>Reloj Callwatch Grandmaster</h3>
                    <p>$23.405</p>

            </div>
		</article>
		<article class="producto">
			<img src="images/Reloj-4.jpg" alt="imagen-principal">
			
			<div class="cuerpo-card">
				<h3>Reloj Callwatch Pioneer P-908</h3>
				<p>$20.300</p>

			</div>
		</article>
		<article class="producto">
			<img src="images/reloj-6.jpg" alt="imagen-principal">
			<div class="cuerpo-card">
				<h3>Reloj Fetch Callwatch P-345</h3>
				<p>$27.795</p>

			</div>
		</article>
		
    
    </div>
    <div class="imagenes-banner-2" >
		
        <h2>Globemaster Callwatch Annual Calendar
        </h2>
        <p>Conozca los tres nuevos modelos de esta colección de estilo clásico, 
            fabricados en diversos materiales y con esferas en color verde, burdeos y oro</p>
            <button class="agregar-carrito" type="submit">Descubrir nuevos Relojes</button>
</div>
<%- include ('./partials/footer.ejs') %> 
</body>

</body>
</html>