<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    <title>Callwatch</title>
</head>
<body>
    <header>
        <section class="top-header"> 
            <div class="main-header-top-elemento1">
                <img src="images/logo3.jpg" alt="Logo de Callwatch" class="logo"></div>
    
            <div class="main-header-top-elemento2">
                    <form class="search-bar" action="#" method="get">
                    
                    <label for="search-bar"></label>
                    
                    <div class="search-bar"><i class="fa fa-search"></i>
                    <input type="search" name="search-bar" id="search-bar" class="texto-search" 
                    placeholder="¿Qué estas buscando?">
                    </div>
                    </form> 
            </div>
            
    
            <div class="icons">
                <div class="icon">
                    
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
                    
                </div>
                <div class="icon">
                    
                    <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                    
                </div>
                <div class="icon">
                    
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                    
                </div>            
        </div>    
        </section>
        </header>
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario...">
                <input type="email" name="email" placeholder="Escribí tu correo electrónico...">
                <input type="password" name="pass" placeholder="Escribí tu contraseña...">
                <input class="botonSend" type="submit" value="Ingresar">
            </form>
        </main>
</body>
<footer>
</footer>
</body>
</html>