<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Callwatch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="main-header-top-elemento1">
        <img src="images/logo3.jpg" alt="Logo de Callwatch" class="logo-register"></div>
    </header>
    
    <main>
        <div class="ingresa"><h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2></div>
    <form action='/' method="get" class="formulario">
        
        
        <div class="control-formulario">
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre" class="control" placeholder="Nombre y apellido" >
        </div>
        <div class="control-formulario">
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" class="control" placeholder="Nombre de usuario">
        </div>
        <div class="control-formulario">
            <label for="email"></label>
            <input type="email" name="email" id="email" class="control" placeholder="E-mail">
        </div>
        <div class="each">
            <input type="checkbox" name="newsletter" value="newsletter" id="newsletter">
            <label for="newsletter">Quiero recibir la newsletter para recibir descuentos y novedades</label>
        </div>

        <div class="control"><button type="submit" class="home">Continuar</button>   </div>
          
        
    </form>
    
    </main>
</body>
</html>