<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Callwatch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="main-header-top-elemento1">
        <img src="images/logo3.jpg" alt="Logo de Callwatch" class="logo-register"></div>
    </header>
    
    <main>
        <div class="ingresa"><h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2></div>
    <form action='/' method="get" class="formulario">
        
        
        <div class="control-formulario">
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre" class="control" placeholder="Nombre y apellido" >
        </div>
        <div class="control-formulario">
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" class="control" placeholder="Nombre de usuario">
        </div>
        <div class="control-formulario">
            <label for="email"></label>
            <input type="email" name="email" id="email" class="control" placeholder="E-mail">
        </div>
        <div class="each">
            <input type="checkbox" name="newsletter" value="newsletter" id="newsletter">
            <label for="newsletter">Quiero recibir la newsletter para recibir descuentos y novedades</label>
        </div>

        <div class="control"><button type="submit" class="home">Continuar</button>   </div>
        
          
        
    </form>
    
    </main>
    <footer>
        
        <div class="elementos1y2footer">
            <div class="footer">
                <ol>
                <li>Terminos Y Condiciones</li>
                <li>Formas de pago</li>
                <li>Botón de arrepentimiento</li>
                <li>Preguntas Frecuentes</li>
                </ol>
            </div>
        
            
            <div class="mapa">
                <h4>¿Cómo llegar?</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7645.836141410436!2d-58.42962255256714!3d-34.577087256291954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1644964448236!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
            <div class="copyright"><p>Copyright © 2022 Callwatch</p></div>
    </footer>
</body>
</html>