* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }

.text-danger{
    color: red;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Montserrat';
    background-color: #e8e4e6;
    margin-top: 160px;
}
header{
    background-color: #195855;
    width: fit-content;
    position: fixed;
    top: 0%;
    z-index: 99;
}
p, .olvidastecontra{
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.error{
    color: #e62929;
    margin-block-start: auto;
    font-size: small;
}
footer{
    
    background-color: #195855;
    padding: 40px;
    margin-top: 50px;
    
}
textarea{
font-family: 'Montserrat';
 
}
.mapa iframe{
    
        width: 300px;
        height: 200px;
        border: 5px solid green;
      
}
.footer ol {
    list-style: none;
    text-align: center;
    margin-top: 50px;
    
    
}
.footer ol li {
    margin-bottom: 28px;
}
.footer ol li:hover {
    color:#56918e;
    cursor: pointer;
}
.copyright{
    color: #fff;
    margin-top: 20px;
}
.imagenes-banner img{
    width: 100%;
    margin-bottom: 40px;
}

.imagenes-banner-2{
text-align: center;
margin: 100px auto;

max-width: 70%;
}


.top-header{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    ;
}
.icon {
    font-size: 1.5em;
    margin-right: 30px;
    text-align-last: center;
    align-self: center;
    text-decoration: none;
    list-style-type: none;
    
}
.icon i:hover{
    color: #56918e;
    cursor: pointer;
}
.icon i{
    color: #fff;
}
.logo{
    
    max-width: 30%
    
}
.logo-solo{
    
    max-width: 100px
    
}
.logo-register{
    max-width: 70px;
}
.main-header-top-elemento1 {
text-align-last: center;
border-radius: 30px;
margin-top: 20px;
}
.main-header-top-elemento2{
    align-self: center;
}

header form .search-bar, .texto-search{
    display: flex;
    background-color: #fff;
    border: 1px solid transparent;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
  }
  
  header form .search-bar {
    align-self: center;
    text-align: center;
    margin-left: 5px;
    
  
  }
  /**** Página User* **/
  .bienvenido {
    text-align: center;
    margin-top: 236px;
    color: #004643;}

    .bienvenido-contenedor{
    position: relative;
    height: 290px;
    width: 290px;
    float: left;
    }
    .main-bievenidos{
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        width: min-content;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .bienvenido-main-body{
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        width: min-content;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .bienvenido-contenedor img {
        position: absolute;
        left: 0;
        transition: opacity 1.5s ease-in-out;
        max-width: -webkit-fill-available;
      }
  /*** ESTILOS BOTÓN SLIDE LEFT ***/
.boton-css-nuevo a {
      text-decoration: none;
      color: #fff;
  }
.boton-css-nuevo {
    
    background: #195855; /* color de fondo */
    color: #fff; /* color de fuente */
    border: 2px solid #195855; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    
}
.boton-css-nuevo:hover {
    color: #fff;
    cursor: pointer;
}
.boton-css-nuevo::after {
    content: "";
    background: #56918e; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }
    .boton-css-nuevo:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }
  .body-elemento2{
      align-self: center;
      margin-right: 20px;
  }
  .body-elemento1{
    align-self: center;
    
}

  .reloj, img.top{
    max-width: 350px;
    padding: 10px;
  
    
    
}
h3.precio{
    font-size: 30px;
    margin-bottom: 5px;
}
h2.nombre {
    margin-top: 20px;
    margin-bottom: 5px;
    
}
h4.color{
    margin-bottom: 20px;
}
h4.cuota {
    color:  #004643;
    margin-bottom: 40px;
    text-align: left;
}
h4.cuotas{
    text-align: left;
}
.detail-bottom{
    display: flex;
    justify-content: space-between;
}
.detail-bottom i {
    font-size: 1.5em;
    align-self: center;

}
.botones-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.detail-a{
    width: 100px;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #e62929;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    

}
div.detail-b{
    width: 100px;
    height: 50px;
    padding: 14px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #71d682;
    cursor: pointer;
    text-align-last: center;
    

}
div.detail-b a {
    text-decoration: none;
    color: #fff;

}
.descripcion {
    margin-top: 40px;
}
h3.titulo-descripcion{
    font-size: 22px;
    margin-bottom: 20px;
}
button.register {
    width: 90%;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #004643;
    color: #fff;
    cursor: pointer;
    
}
button.register:hover {
    background-color: #195855;
}

.each-checkbox{
        text-align: center;
        color: #56918e;
    }

.main-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: min-content;
    margin-top: 250px;
    margin-bottom: 50px;
}

.control-formulario {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
div.control-formulario input {
    display: flex;
    margin-bottom: 15px;
    
}
.control-formulario label{
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold
}
.control-precio{
    display: flex;
    justify-content: center;

}
.control-precio input {
    width: 40%;
}
.control-carrito{
        width: 90%;
        height: 50px;
        border-radius: 5px;
        border-color: transparent;
        max-width: 800px;
        
    }

.control {
    width: 90%;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
    
}
.ingresa h2{
    text-align: center;
    margin-bottom: 20px;
    color: #004643;
}
.formulario {
    padding: 25px 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(202, 202, 202);
    max-width: 545px;
    margin-bottom: 70px;
}
button.home {
    background-color: #004643;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin: 15px 0px 20px 0px;
    padding: 10px;
    width: 70%;
    transition: all 450ms;
    border-color: transparent;
    max-width: 800px;
}
button.home:hover {
    background-color: #195855;
    cursor: pointer;
}
.contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
    max-width: -webkit-fill-available;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  .main-nav-bar {
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar li {
    margin: 30px;
    list-style-type: none;
    
}
.navbar li a{
    position: relative;
    color: #fff;
    margin: 0px 15px;
}
.navbar li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #004643;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}
.navbar li a:hover:after{
    opacity:1;
    transform: translateY(15px)
}


.top-img{
    display: flex;
    margin-bottom: 50px;
}
.top-img p {
    font-size: 12px;
}
.top-img p:hover{
    color: #004643;
    cursor: pointer;
    font-weight: bold;
}

.mapa{
    text-align: center;
}
.mapa h4{
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px;
}
.footer, .elementos1y2footer {
    margin-bottom: 30px;
    color: white;
}

.login {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color:#bdd1d0;
    padding: 50px;
    margin: auto;
    width: 320px;
    margin-bottom: 40px;
}
.login form{
    display: flex;
    flex-direction: column;
    padding: 10px;
} 
.login form input{
    width: 250px;
}


input, textarea {
    margin-bottom: 15px;
}

input#newsletter
    {
        width: auto;
        height: auto;
    }
    button.agregar-carrito a{
        text-decoration: none;
        color: #fff;
    }
    button.agregar-carrito {
        background-color: #004643;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        margin: 15px 0px 20px 0px;
        padding: 10px;
        width: 70%;
        transition: all 450ms;
        border-color: transparent;
        max-width: 150px;
        align-self: center;
    }
    button.agregar-carrito:hover {
        background-color: #195855;
        cursor: pointer;
    }
.lista-imagenes{
    display: flex;
    width: 200px;
    overflow-y: auto;
}
.galeria{
    display: flex;
    overflow-y: auto;
    padding: 16px;
    justify-content: center;
}
.mas-vendidos{
    text-align: center;
    
}
.todos-productos{
    text-align: center;
    margin-top: 200px;
}
h4{
    text-align: center;
}
.card img{
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    padding: 15px;
}
.card{
    text-decoration:none;
    padding: 10px;
}
.card:hover{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.elemento-carrito{
    align-self: center;
    text-align: center;
}
.elemento-comprar {
    
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
p.bold{
    font-weight: bold;
}

.title-carrito {
    margin-bottom: 20px;
    text-align: center;
    color: #004643;
    margin-top: 200px ;
}
.elementos-carrito{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    margin-right: 20px;


}
.elementos-carrito-2{
    background-color: #fff;
    padding: 20px;

}

.carrito{
  
    padding: 30px;
}

.elementos-carrito img{
    width: 150px;
}
.boton-comprar{
    text-align: right;
}

/*Página create*/
.control-formulario-radio {
    display: flex;
    justify-content: space-around;
}
.control-formulario-radio .each {
    display: flex;
    
}
.color{
    width: 15px;
    height: 15px;
    margin: 0px 10px;
}   
.color-detalle{
    margin-bottom: 20px;
    text-align: left;
}
button.register {
    width: 300px;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #004643;
    color: #fff;
    cursor: pointer;
    
    
}
button.register:hover {
    background-color: #195855;
}


/*Página index*/
.products{
    padding: 70px;
    

}
.products a {
    display: block;
}
.producto img {
    width: 100%;
    padding: 10px;
}
.producto{
    background-color: #fff;
    margin-bottom: 50px;
}

.cuerpo-card{
    padding: 15px;
}
.cuerpo-card h3 {
    text-align: center;
    
    
}



@media(min-width:361px){
    .main-nav-bar {
        display: flex;
        justify-content: center;
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    .navbar li {
        margin: 30px;
        list-style-type: none;
        
    }
    .navbar li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .navbar li a:hover{
        color: #56918e
    }
    .elementos1y2footer{
        display: flex;
        justify-content: space-between;
        
    }
    
}
@media(min-width:460px){
    header{
        background-color: #195855;
        width: 100%
    }
    .lista-imagenes{
        
        width: 600px;
        
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       }
       .products a {
           width: 48%;
           color: black;
           text-decoration: none;
           margin-bottom: 20px;
       }
       .producto {
           width: 100%;
           height: 100%;
       }
       
       .products a:hover {
           box-shadow: 0px 0px 10px rgb(100 100 100);
           cursor: pointer;
           width: 49%;
       }
      
    
   
    
    
}

@media(max-width: 459px){
    .logo-register{
        max-width: 50px;
        text-align: center;
    }
    header{
        background-color: #195855;
        width: 100%
    }
}
@media(max-width:800px){
    html{
        inline-size: fit-content;
    }
}
@media (max-width: 650px){
    header form .search-bar, .texto-search {
        display: none;

    }
}
@media(min-width: 650px){
    .main-body{
        display: flex;
        flex-direction: row;
        
    }
    .bienvenido-main-body{
        display: flex;
        flex-direction: row;
    }
    .carrito {
        display: flex;
        justify-content: space-around;
    }

    .elementos-carrito-2{
        background-color: #fff;
        padding: 20px;
        width: 40%;
    
    }
    
    .products{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
    }
    .products a {
        width: 23%;
        color: black;
        text-decoration: none;
        margin-bottom: 20px;
    }
    .producto {
        width: 100%;
        height: 100%;
    }
    
    .products a:hover {
        box-shadow: 0px 0px 10px rgb(100 100 100);
        cursor: pointer;
        width: 24%;
    }
   
    
    .detail-bottom{
        display: flex;
        justify-content: flex-start;
    }
    header form .search-bar, .texto-search{
        width: 300px;
    }
    
    
   
}