* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }

body{
    font-family: 'Roboto';
    background-color: #e8e4e6;
    margin-top: 160px;
}
header{
    background-color: #195855;
    width: fit-content;
    position: fixed;
    top: 0%;
    z-index: 99;
}
p, .olvidastecontra{
    
    text-align: center;
    margin-top: 20px;
}

footer{
    
    background-color: #195855;
    padding: 40px;
    margin-top: 50px;
    
}
textarea{
font-family: 'Roboto';
 
}
.mapa iframe{
    
        width: 300px;
        height: 200px;
        border: 5px solid green;
      
}
.footer ol {
    list-style: none;
    text-align: center;
    margin-top: 50px;
    
    
}
.footer ol li {
    margin-bottom: 28px;
}
.footer ol li:hover {
    color:#56918e;
    cursor: pointer;
}
.copyright{
    color: #fff;
    margin-top: 20px;
}
.imagenes-banner img{
    width: 100%;
    margin-bottom: 40px;
}

.imagenes-banner-2{
text-align: center;
margin: 100px auto;

max-width: 70%;
}


.top-header{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    ;
}
.icon {
    font-size: 1.5em;
    margin-right: 30px;
    text-align-last: center;
    align-self: center;
    text-decoration: none;
    list-style-type: none;
    
}
.icon i:hover{
    color: #56918e;
    cursor: pointer;
}
.icon i{
    color: #fff;
}
.logo{
    
    max-width: 30%
    
}
.logo-solo{
    
    max-width: 100px
    
}
.logo-register{
    max-width: 70px;
}
.main-header-top-elemento1 {
text-align-last: center;
border-radius: 30px;
margin-top: 20px;
}
.main-header-top-elemento2{
    align-self: center;
}

header form .search-bar, .texto-search{
    display: flex;
    background-color: #fff;
    border: 1px solid transparent;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
  }
  
  header form .search-bar {
    align-self: center;
    text-align: center;
    margin-left: 5px;
    
  
  }
  .body-elemento2{
      align-self: center;
      margin-right: 20px;
  }
  .body-elemento1{
    align-self: center;
    
}

  .reloj, img.top{
    max-width: 350px;
    padding: 10px;
  
    
    
}
h3.precio{
    font-size: 30px;
    margin-bottom: 5px;
}
h2.nombre {
    margin-top: 20px;
    margin-bottom: 5px;
    
}
h4.color{
    margin-bottom: 20px;
}
h4.cuota{
    color:  #004643;
    margin-bottom: 40px;
}
.detail-bottom{
    display: flex;
    justify-content: space-between;
}
.detail-bottom i {
    font-size: 1.5em;
    align-self: center;

}
.descripcion {
    margin-top: 40px;
}
h3.titulo-descripcion{
    font-size: 22px;
    margin-bottom: 20px;
}
button.register {
    width: 90%;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #004643;
    color: #fff;
    cursor: pointer;
    
}
button.register:hover {
    background-color: #195855;
}

.each-checkbox{
        text-align: center;
        color: #56918e;
    }

.main-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: min-content;
    margin-top: 250px;
    margin-bottom: 50px;
}

.control-formulario {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
div.control-formulario input {
    display: flex;
    margin-bottom: 15px;
    
}
.control-formulario label{
    align-self: center;
    margin-bottom: 10px;
}
.control-precio{
    display: flex;
    justify-content: center;

}
.control-precio input {
    width: 40%;
}
.control {
    width: 90%;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
    
}
.ingresa h2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #004643;
}
.formulario {
    padding: 25px 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(202, 202, 202);
    max-width: 545px;
    margin-bottom: 70px;
}
button.home {
    background-color: #004643;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin: 15px 0px 20px 0px;
    padding: 10px;
    width: 70%;
    transition: all 450ms;
    border-color: transparent;
    max-width: 800px;
}
button.home:hover {
    background-color: #195855;
    cursor: pointer;
}
.contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
    max-width: -webkit-fill-available;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  .main-nav-bar {
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar li {
    margin: 30px;
    list-style-type: none;
    
}
.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.navbar li a:hover{
    color: #56918e
}

.top-img{
    display: flex;
    margin-bottom: 50px;
}
.top-img p {
    font-size: 12px;
}
.top-img p:hover{
    color: #004643;
    cursor: pointer;
    font-weight: bold;
}

.mapa{
    text-align: center;
}
.mapa h4{
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px;
}
.footer, .elementos1y2footer {
    margin-bottom: 30px;
    color: white;
}
.login {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color:#195855;
    border-radius: 10px;
    border: black 2px solid;
    padding: 50px;
    margin: auto;
    width: 320px;
    margin-bottom: 40px;
}
.login form{
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 10px;
} 
.login form .botonSend{
    margin-top: 20px;
    border: black 1px solid;
}

input, textarea {
    margin-bottom: 15px;
}

input#newsletter
    {
        width: auto;
        height: auto;
    }

    button.agregar-carrito {
        background-color: #004643;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        margin: 15px 0px 20px 0px;
        padding: 10px;
        width: 70%;
        transition: all 450ms;
        border-color: transparent;
        max-width: 150px;
        align-self: center;
    }
    button.agregar-carrito:hover {
        background-color: #195855;
        cursor: pointer;
    }
.lista-imagenes{
    display: flex;
    width: 200px;
    overflow-y: auto;
}
.galeria{
    display: flex;
    overflow-y: auto;
    padding: 16px;
    justify-content: center;
}
.mas-vendidos{
    text-align: center;
}
h4{
    text-align: center;
}
.card img{
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    padding: 15px;
}
.card{
    text-decoration:none;
    padding: 10px;
}
.card:hover{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.elemento-carrito{
    align-self: center;
    text-align: center;
}
.elemento-comprar {
    
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
p.bold{
    font-weight: bold;
}

.title-carrito {
    margin-bottom: 20px;
    text-align: center;
    color: #004643;
    margin-top: 200px ;
}
.elementos-carrito{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    margin-right: 20px;


}
.elementos-carrito-2{
    background-color: #fff;
    padding: 20px;

}

.carrito{
  
    padding: 30px;
}

.elementos-carrito img{
    width: 150px;
}
.boton-comprar{
    text-align: right;
}

/*Página create*/
.control-formulario-radio {
    display: flex;
    justify-content: space-around;
}
.control-formulario-radio .each {
    display: flex;
    
}
.color{
    width: 15px;
    height: 15px;
    margin: 0px 10px;
}   
.color-detalle{
    margin-bottom: 20px;
}

/*Página index*/
.products{
    padding: 70px;

}
.producto img {
    width: 100%;
    padding: 10px;
}
.producto{
    background-color: #fff
}
.producto:hover {
    box-shadow: 0px 0px 10px rgb(100 100 100);
    cursor: pointer;
    width: 26%;
}
.cuerpo-card{
    padding: 15px;
}
.cuerpo-card h3 {
    text-align: center;
    
    
}

@media (max-width: 650px){
    header form .search-bar, .texto-search {
        display: none;

    }
}
@media(min-width: 650px){
    .main-body{
        display: flex;
        flex-direction: row;
        
    }
    .carrito {
        display: flex;
        justify-content: space-around;
    }

    .elementos-carrito-2{
        background-color: #fff;
        padding: 20px;
        width: 40%;
    
    }
    
    .products{
     display: flex;
     justify-content: space-around;
    }
    .producto {
        width: 23%;
    }
    
    button.register {
        width: 300px;
        height: 50px;
        padding: 8px;
        border-radius: 10px;
        border-color: transparent;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        background-color: #004643;
        color: #fff;
        cursor: pointer;
        
        
    }
    button.register:hover {
        background-color: #195855;
    }
    
    .detail-bottom{
        display: flex;
        justify-content: flex-start;
    }
    header form .search-bar, .texto-search{
        width: 300px;
    }
    
    
   
}
@media(min-width:460px){
    header{
        background-color: #195855;
        width: 100%
    }
    .lista-imagenes{
        
        width: 600px;
        
    }
    
   
    
    
}
@media(min-width:361px){
    .main-nav-bar {
        display: flex;
        justify-content: center;
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    .navbar li {
        margin: 30px;
        list-style-type: none;
        
    }
    .navbar li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .navbar li a:hover{
        color: #56918e
    }
    .elementos1y2footer{
        display: flex;
        justify-content: space-between;
        
    }
}

@media(max-width: 459px){
    .logo-register{
        max-width: 50px;
        text-align: center;
    }
    header{
        background-color: #195855;
        width: 100%
    }
}
@media(max-width:800px){
    html{
        inline-size: fit-content;
    }
}
