<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header-logo.ejs') %> 
        <div class="ingresa"><h2>Completá los datos para ingresar</h2></div>
        <div>
            <div class="login" >
            <form action="/" method="get">
                <input  type="text" name="user" placeholder="Nombre de usuario" class="control">
                <input type="email" name="email" placeholder="Correo electrónico" class="control">
                <input type="password" name="pass" placeholder="Escribí tu contraseña" class="control">
                <div class="each-checkbox">
                    <input type="checkbox" name="newsletter" value="newsletter" id="newsletter">
                    <label for="newsletter">Recordar mi contraseña</label>
                </div>
                <div class="control"><button type="submit" class="home">Ingresar</button></div>
                <div class="olvidastecontra"><a href= "#">¿Olvidaste tu contraseña?</a></div>
    
            </form>
            
         </div>
         <div>
             <p>¿No tenés cuenta?</p>
            <form action='/users/register' method="get" class="formulario-login">
                <div class="control"><button type="submit" class="register">Crear cuenta</button></div>
                </form>  
         </div>
         
            
        </main>
</body>
<%- include ('../partials/footer.ejs') %> 
</body>
</html>