<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %> 
<body>
    <%- include ('../partials/header-logo.ejs') %> 
    
    <main>
        <div class="ingresa"><h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2></div>
    <form action="" method="POST" class="formulario" enctype="multipart/form-data">
        
        
        <div class="control-formulario">
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre" class="control" placeholder="Nombre y apellido" >
        </div>
        <div class="control-formulario">
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" class="control" placeholder="Nombre de usuario">
        </div>
        <div class="control-formulario">
            <label for="email"></label>
            <input type="email" name="email" id="email" class="control" placeholder="E-mail">
        </div>
        <div class="control-formulario">
            <label for="imagen">Selecciona una nueva foto del producto</label>    
             
            <input type="file" name="imagen" id="imagen" class="control" accept=".jpg"> 
        <!-- Acá lo que tenemos que hacer es que por defecto quede la imagen ya ingresada.-->
        </div>
        <div class="control-formulario">
            <label for="password"></label>
            <input type="password" name="password" id="password" class="control" placeholder="Ingresá tu contraseña">
        </div>
        <div class="control-formulario">
            <label for="password"></label>
            <input type="password" name="password" id="password" class="control" placeholder="Confirmá tu contraseña">
        </div>
        <div class="each-checkbox">
            <input type="checkbox" name="newsletter" value="newsletter" id="newsletter">
            <label for="newsletter">Quiero recibir la newsletter para recibir descuentos y novedades</label>
        </div>

        <div class="control"><button type="submit" class="home">Continuar</button>   </div>
        
          
        
    </form>
    
    </main>
<%- include ('../partials/footer.ejs') %> 
</body>
</html>