<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
<main>
    <div class="title-carrito"><h2>Vendé tus Relojes</h2></div>
<form action='/products' method="POST" class="formulario" enctype="multipart/form-data">
    
    
    <div class="control-formulario">
        <label for="nombre"></label>
        <input type="text" name="nombre" id="nombre" class="control" placeholder="Nombre del producto" >
    </div>
    <div class="control-formulario">
        <label for="descripcion">Descripción del producto</label>
        <textarea name= "descripcion" type="text" id="descripcion" class="control" placeholder="Descripción del producto"> </textarea>
    </div>
    
    
    <div class="control-formulario">
        <label for="category">Categorias</label>
        <select class="control" name="category" id="category">
            <option value="">Seleccionar</option>
            <option value="unisex">Unisex</option>
            <option value="mujer">Mujer</option>
            <option value="hombre">Hombre</option>
            <option value="niño">Niños</option>
            <option value="smartwatch">Smart Watch</option>
            <option value="vintage">Vintage</option>
        </select>    
    </div>
    <div class="control-formulario">
        <label for="color">Color del producto</label>
    </div>
    <div class="control-formulario-radio">
        
            <div class="each">
                <input type="radio" name="color" value="marron" class="radio" id="color-marron">
                <img src="../images/marron.png" alt="imagen-marron" class="color"/> 
                <label for="color-marron">Marrón</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="negro" class="radio" id="color-negro">
                <img src="../images/negro.png" alt="imagen-negro" class="color"/> 
                <label for="color-negro">Negro</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="azul" class="radio" id="color-azul">
                <img src="../images/azul.png" alt="imagen-azul" class="color" /> 
                <label for="color-azul">Azul</label>
            </div>
    </div>
    
    <div class="control-formulario-radio">
        
            <div class="each">
                <input type="radio" name="color" value="blanco" class="radio" id="color-blanco">
                <img src="../images/blanco.png" alt="imagen-rojo" class="color"/> 
                <label class="colores" for="color-blanco">Blanco</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="verde" class="radio" id="color-verde">
                <img src="../images/verde.png" alt="imagen-verde" class="color"/> 
                <label class="colores" for="color-verde">Verde</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="rojo" class="radio" id="color-rojo">
                <img src="../images/rojo.png" alt="imagen-rojo" class="color"/> 
                <label class="colores" for="color-rojo">Rojo</label>
            </div>
            
        
    </div>
    
   
    <div class="control-formulario">
        <label for="imagen"></label>
        <input type="file" name="imagen" id="imagen" class="control" >
    </div>   
    
    <div class="control-formulario">
        <label for="precio">Precio</label>
        <input type= "number" name="precio" placeholder="Precio del producto" id="precio" class="control"> 
        
        <!--  
        <div class="control-precio">
        <input type= "number" name="precio" placeholder="Mínimo" id="precio" class="control"> 
        <h4 style="align-self: center;">-</h4>
        <input type= "number" name="precio" placeholder="Máximo" id="precio" class="control">
        </div> -->  
     
    </div> 
<div class="each-checkbox">
        <input type="checkbox" name="envio" value="envio" id="envio">
        <label for="envio">Envío gratis</label>
</div>
    <div>
        
       <form action='/index' method="get" class="formulario-login">
           <div class="control"><button type="submit" class="register">Crear</button></div>
           </form>  
    </div>


</main>
<%- include ('../partials/footer.ejs') %> 
</body>



</html>    