<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
<%- include ('./partials/header.ejs') %> 

    <main>
        <div class="title-carrito"><h2>Carrito de compras</h2>
        </div>
    <div class="carrito">
        
        
        <div class="elementos-carrito">
            
            <div class="elemento-carrito"><h5>Reloj Callwatch Tommy M-905</h5><img src="images/Reloj-2.jpg" alt="imagen-principal"/></div> 
            <div class="elemento-carrito">
            <label for="cantidad">Cantidad</label>
            <select id="cantidad" name="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="+">+</option>
              </select>
            </div>
            <div class="elemento-carrito"><h5>$30.905</h5></div>

            
        </div>
        <div class="elementos-carrito-2">
            <p class="bold">Detalle de la compra:</p>
            
            <div class="elemento-comprar">
                <p>Subtotal:</p>
                <p>$30.905</p>
            </div>
            <div class="elemento-comprar">
                <p>Envío:</p>
                <p>$560</p>
            </div>
            
            <tr><td colspan="2"><hr class="separatorTotals"></td></tr>
            <div class="elemento-comprar">
                <p class="bold">Total a pagar:</p>
                <p class="bold">$31.605</p>
            </div>
            
            
            <form action='/' method="get" class="formulario-login">
                <div class="boton-comprar"><button class="agregar-carrito" type="submit">Finalizar compra</button></div>
                </form>  
            
        </div>
        
    </div>
    
        
    <div class="mas-vendidos"><h2>Te pueden interesar</h2></div>
    <section class="galeria">
        
       
        
        <div class="lista-imagenes">
            
            <div class="card"> 
                
                <img src="images/Reloj-2.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Tommy M-905</h5>
                    <p>$30.905</p>
                

                </div>
            </div>
            <div class="card">
                <img src="images/Reloj-4.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Pioneer P-908</h5>
                    <p>$60.300</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-3.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Callwatch Grandmaster</h5>
                    <p>$23.405</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-6.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Golden-Fetch Callwatch P-345</h5>
                    <p>$27.795</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-7.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Catmar Callwatch Y-905</h5>
                    <p>$29.350</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-8.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5> Reloj Silver-lining Callwatch T-5905</h5>
                    <p>$45.000</p>

                </div>
            </div>
            <div class="card">
                <img src="images/reloj-9.jpg" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5>Reloj Peña Callwatch T-786</h5>
                    <p>$25.905</p>

                </div>
            </div>
            
            
            
        </div>


    </section>
    </main>

<%- include ('./partials/footer.ejs') %> 


</body>
</html>